@import url(font.css);

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #95BF74;
    color: #F5FBFB;
    cursor: pointer;
    padding: 15px;
    border-radius: 0px;
    font-family:"nunito";
    font-weight: bold;
  }
  
  #myBtn:hover {
    background-color: #F5FBFB;
    color: black;
    font-family:"nunito";
    font-weight: bold;
  }

  body {margin:0;font-family:nunito}

.topnav {
    overflow: hidden;
    background-color: #415D43;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #F5FBFB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family:"nunito";
    font-weight: bold;
  }
  
  .active {
    background-color: #95BF74;
    color: #F5FBFB;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: #F5FBFB;
    padding: 14px 16px;
    background-color: inherit;
    font-family:"nunito";
    font-weight: bold;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #415D43;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #F5FBFB;
    color: black;
  }
  
  .dropdown-content a:hover {
    background-color: #F5FBFB;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  @media screen and (max-width: 800px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  body {
    background-color: white;
    font-family:"nunito";
    margin: 0;
    font-size: 17px;
}
main {
  margin: auto;
}

img{
max-width: 100%;
}

h1{
text-align: center;
  font-weight: bold;
  font-size: 36px;
  padding: 10px;
}

strong{
  font-weight: bold;
}
div.so{
  font-size: 17px;
  line-height:  130%;
}

div.so {
margin: auto;
  padding: 5px;
  display: grid;
  grid-column: 2;
}

section.copertina {
  display: grid;
  grid-template-columns: 180px  auto 180px;
  grid-template-rows: 180px 80px;
}

section.cop{
  display: grid;
  grid-template-columns: 1fr ;
}

div.cop{
  margin: auto;
  display: grid;
  grid-template-rows: 560px;
}

div.t p {
  margin: auto;
  padding: 10px;
  font-size: 17px;
  line-height: 130%;
  width: 500px;
}

span.tit  {
   font-weight: bold;
   font-size: 20px;
  }

  div.t{
    background-color:#D9D9D9;
    height: 500px;
    grid-column: 3;
padding-top:40px ;
  }
  


  section.ca{
    display: grid;
    grid-template-columns: auto auto 700px;
    grid-template-rows:  700px;
   
  }

  section.a{
    display: grid;
    grid-template-columns: 250px 532px auto;
    grid-template-rows: 400px 100px;
    padding: 20px;
  }

  div.te {
    grid-column: 2;
  }

  div.te p{
font-size: 17px;
  }

  .im {
    padding:40px;
    max-width: 32%;
    object-fit: contain;
  }

  section.car{
    display: grid;
    grid-template-columns:  250px auto auto ;
    grid-template-rows: 200px 400px;
  }

 div.d{
  margin: auto;
  grid-column: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  div.d{
    background-color: #493548;
    height: 360px;
  }

  div.d p{
    padding: 40px;
    font-size: 17px;
    line-height: 130%;
    width: 480px;
    padding-right: 40px;
    color: white;
  }

  section.c{
    display: grid;
    grid-template-columns:   auto auto 250px;
  }

 div.f{
  margin: auto;
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  div.f{
    background-color: #493548;
    height: 360px;
  }

  div.f p{
    padding: 40px;
    font-size: 17px;
    line-height: 130%;
      width: 480px;
    padding-right: 40px;
    color: white;
  }
  .imag {
    padding: 40px;
    max-width: 32%;
    object-fit: contain;
  }
    @media (max-width:1200px) { 
    section.cop {
      display: grid;
      grid-template-rows: 460px ;
    }
    section.car {
      display: grid;
      grid-template-columns:  150px auto auto ;
      grid-template-rows: 200px 400px;
    }
    section.c {
      display: grid;
      grid-template-columns:   auto auto 150px;
 
    }

    div.d p{
      padding: 20px;
      font-size: 15px;
      line-height: 130%;
        width: 450px;
    }
  div.d{
    height: 350px;
  }

  div.f p{
    padding: 20px;
    font-size: 15px;
    line-height: 130%;
      width: 450px;
  }
div.f{
  height: 350px;
}
  }
  @media (max-width:1000px) { 
    section.copertina {
      display: grid;
      grid-template-rows: 180px 30px ;
      grid-template-columns:120px auto 120px ;
    }
    section.cop {
      display: grid;
      grid-template-rows: 400px ;
    }
    h1{
      font-size: 32px;
    }
    div.so p {
      margin: auto;
        font-size: 14px; 
        line-height: 130%;
      }
      section.ca{
        display: grid;
        grid-template-columns: auto auto 600px;
        grid-template-rows:  550px;
      }

      span.tit  {
        font-weight: bold;
        font-size: 15px;
       }
    div.t p {
      margin: auto;
      padding: 10px;
      font-size: 14px;
      width: 420px;
    }
    
    div.t h2 {
      margin: auto;
       font-weight: bold;
       font-size: 15px;
      }
    
      div.t{
        height: 400px;
      }

      section.a{
        display: grid;
        grid-template-columns: 150px 480px auto;
        grid-template-rows: 350px;
        padding: 20px;
      }

  div.te p{
    font-size: 15px;
      }

    section.car {
      display: grid;
      grid-template-columns:  100px auto auto ;
      grid-template-rows: 200px 300px;
    }
    section.c {
      display: grid;
      grid-template-columns:   auto auto 100px;

    }

   
    div.d p{
      padding: 20px;
      font-size: 14px;
      line-height: 130%;
        width: 450px;
    }
  div.d{
    height: 300px;
  }

  div.f p{
    padding: 20px;
    font-size: 14px;
    line-height: 130%;
      width: 450px;
  }
div.f{
  height: 300px;
}  
.imag {
  padding:40px;
  max-width: 35%;
  object-fit: contain;
} 
 .im{
  padding:40px;
  max-width: 35%;
  object-fit: contain;
} 
  }
  
  @media (max-width:800px) { 
    section.copertina {
      display: grid;
      grid-template-columns:80px auto 80px ;
      grid-template-rows: 180px 40px ;
    }
   
    section.cop {
      display: grid;
      grid-template-rows: 330px ;
    }
    h1{
      font-size: 24px;
    }
    div.so p {
      margin: auto;
        font-size: 13px; 
      }
      section.ca{
        display: grid;
        grid-template-columns: auto auto 550px;
        grid-template-rows:  520px;
      }

      span.tit  {
        font-weight: bold;
        font-size: 14px;
       }

    div.t p {
      margin: auto;
      padding: 10px;
      font-size: 13px;
      width: 400px;
    }
    
 
    
      div.t{
        height: 400px;
      }

      section.a{
        display: grid;
        grid-template-columns: 150px 450px auto;
        grid-template-rows: 280px;
        padding: 20px;
      }

  div.te p{
    font-size: 14px;
      }

    section.car {
      display: grid;
      grid-template-columns:  50px auto auto ;
      grid-template-rows: 550px;
    }
    section.c {
      display: grid;
      grid-template-columns:   auto auto 50px;
      grid-template-rows: 450px;
    }
 
    div.d p{
      padding: 20px;
      font-size: 13px;
      line-height: 130%;
        width: 450px;
    }
  div.d{
    height: 270px;
  }

  div.f p{
    padding: 20px;
    font-size: 13px;
    line-height: 130%;
      width: 450px;
  }
div.f{
  height: 270px;
}  
.imag {
  max-width: 35%;
  object-fit: contain;
} 
 .im{
  max-width: 35%;
  object-fit: contain;
} 
  }

  @media (max-width:700px) { 
     section.copertina {
      display: grid;
      grid-template-columns:70px auto 70px ;
      grid-template-rows: 180px 40px ;
    }
   
    section.cop {
      display: grid;
      grid-template-rows: 300px ;
    }
    h1{
      font-size: 24px;
      text-align: center;
    }
    div.so p {
      margin: auto;
        font-size: 13px; 
        line-height: 130%;
      }
      section.ca{
        display: grid;
        grid-template-columns: auto auto 480px;
        grid-template-rows:  520px;
      }
     
span.tit  {
  font-weight: bold;
  font-size: 14px;
 }
    div.t p {
      margin: auto;
      padding: 10px;
      font-size: 13px;
      width: 380px;
    }
    
      div.t{
        height: 400px;
      }

      section.a{
        display: grid;
        grid-template-columns: 150px 400px auto;
        grid-template-rows: 280px;
        padding: 20px;
      }

  div.te p{
    font-size: 14px;
      }
    section.car {
      display: grid;
      grid-template-columns: 20px  auto auto ;
      grid-template-rows: 180px 200px;
    }
    section.c {
      display: grid;
      grid-template-columns:   auto auto 20px;
      grid-template-rows: 100px ;
    }

    
 
    div.d p{
      padding: 10px;
      font-size: 13px;
      line-height: 130%;
        width: 480px;
    }
  div.d{
    height: 270px;
  }

  div.f p{
    padding: 10px;
    font-size: 13px;
    line-height: 130%;
      width: 480px;
  }
div.f{
  height: 270px;
}  
.imag {
  padding-left: 5%;

  max-width: 35%;
  object-fit: contain;
} 
 .im{ 
   padding-right: 5%;
  max-width: 35%;
  object-fit: contain;
} 
  }
  @media (max-width:600px) { 
    section.copertina {
      display: grid;
      grid-template-columns: 60px auto 60px ;
      grid-template-rows: 180px 40px ;
    }
   
    section.cop {
      display: grid;
      grid-template-rows: 250px ;
    }
    h1{
      font-size: 22px;
    }
    div.so p {
      margin: auto;
line-height: 128%;
        font-size: 12px; 
      }
      section.ca{
        display: grid;
        grid-template-columns: auto auto 450px;
        grid-template-rows:  520px;
      }

      span.tit  {
        font-weight: bold;
        font-size: 13px;
       }

    div.t p {
      margin: auto;
      padding: 10px;
      font-size: 12px;
      width: 340px;
    }
    
    div.t h2 {
      margin: auto;
       font-weight: bold;
       font-size: 12px;
      }
    
      div.t{
        height: 400px;
      }

      section.a{
        display: grid;
        grid-template-columns: 100px 370px auto;
        grid-template-rows: 260px;
        padding: 20px;
      }

  div.te p{
    font-size: 12px;
      }
      section.car {
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows:750px;
      }
      section.c {
        display: grid;
        grid-template-columns:auto ;
        grid-template-rows: 300px ;
      
      }
      div.d{
        grid-column: 2;
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        height: 600px;
      }
 
    
  
    div.f{
      grid-column: 1;
      display: flex;
      flex-direction: column;
      height: 600px;
    }
      div.d p{

        font-size: 12px;
        line-height: 130%;
          width: 420px;
      }
      div.f p{

        font-size: 12px;
        line-height: 130%;
          width: 420px;
      }
      .imag {
   
        padding: 5%;
        max-width: 37%;
        object-fit: contain;
      } 
       .im{
        padding: 5%;
        max-width: 37%;
        object-fit: contain;
      } 
    }
   
  @media (max-width:500px) { 
    section.copertina {
      display: grid;
      grid-template-columns:60px auto 60px ;
      grid-template-rows: 180px 40px ;
    }
   
    section.cop {
      display: grid;
      grid-template-rows: 220px ;
    }
    h1{
      font-size: 22px;
    }
    div.so p {
      margin: auto;
        font-size: 11px; 
      }
      section.ca{
        display: grid;
        grid-template-columns:40px auto ;
        grid-template-rows:  460px;
      }
 
span.tit  {
  font-weight: bold;
  font-size: 12px;
 }

    div.t p {
      margin: auto;
      padding: 30px;
      font-size: 11px;
      width: auto;
    }
   
      div.t{
        height: 360px;
      }

      section.a{
        display: grid;
        grid-template-columns: 50px auto auto;
        grid-template-rows: 260px;
        padding: 40px;
      }

  div.te p{
    grid-column: 2;
  }
      section.car {
        display: grid;
        grid-template-columns: 20px   auto ;
        grid-template-rows: 180px 450px;
      }
      section.c {
        display: grid;
        grid-template-columns:   auto 20px;
        grid-template-rows: 100px ;
      }
      div.d p{
        font-size: 11px;
        line-height: 130%;
          width: 420px;
      }
      div.f p{

        font-size: 11px;
        line-height: 130%;
          width: 420px;
      }
      .imag {
        padding: 2%;
        max-width: 40%;
        object-fit: contain;
      } 
      
       .im{
        padding: 2%;
        max-width: 40%;
        object-fit: contain;
      } 
  }

  @media (max-width:460px) { 
    section.copertina {
      padding: 20px;
      display: grid;
      grid-template-columns:20px auto 20px ;
      grid-template-rows: 80px 80px ;
    }
   
 
    section.cop {
      display: grid;
      grid-template-columns: auto ;
      grid-template-rows: 180px ;
    }
    h1{
      font-size: 20px;
    }
    div.so p {
      margin: auto;
      line-height: 130%;
        font-size: 11px; 
      }
    
      section.ca{
        display: grid;
        grid-template-columns:auto ;
        grid-template-rows:  460px;
      }
      span.tit  {
        font-weight: bold;
        font-size: 12px;
       }
       
      div.t p {
        margin: auto;
        padding: 30px;
        font-size: 11px;
        width: auto;
      }

      div.t{
        height: 380px;
      }

      section.a{
        display: grid;
        grid-template-columns: 40px auto 40px;
        grid-template-rows: 260px;
        padding: 20px;
      }

  div.te p{
    grid-column: 2;
    font-size: 11px;
      }
    section.car {
      display: grid;
      grid-template-columns: auto ;
      grid-template-rows: 400px 250px;
    }
    section.c {
      display: grid;
      grid-template-columns:auto ;
      grid-template-rows: 300px ;
    
    }

    div.d p{
      font-size: 11px;
      line-height: 130%;
    padding: 40px;
    width:auto;

    }


  div.f p{
    width: auto;
    padding: 40px;
    font-size: 11px;
    line-height: 130%;

  }
    .imag {
      padding: 0px;
    align-items: center;
      max-width: 40%;
      object-fit: contain;
    } 
     .im{
      align-items: center;
      padding: 0px;
      align-items: center;
      max-width: 40%;
      object-fit: contain;
    } 
  }
  @media (max-width:360px) { 
    section.copertina {
      padding: 20px;
      display: grid;
      grid-template-columns:15px auto 15px ;
      grid-template-rows: 80px 80px ;
    }
   
 
    section.cop {
      display: grid;
      grid-template-columns: auto ;
      grid-template-rows: 150px ;
    }
    h1{
      font-size: 20px;
    }
    div.so p {
      margin: auto;
      line-height: 130%;
        font-size: 10px; 
      }
    
      section.ca{
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows:  400px;
      }
      
      div.t{
        height: 330px;
      }
      
span.tit  {
  font-weight: bold;
  font-size: 11px;
 }
      div.t p{
     font-size: 10px;
      }

      section.a{
        display: grid;
        grid-template-columns: 40px auto 40px;
        grid-template-rows: 200px;
        padding: 20px;
      }

  div.te p{
    grid-column: 2;
    font-size: 10px;
      }
    section.car {
      display: grid;
      grid-template-columns: auto ;
      grid-template-rows: 320px 200px;
    }
    section.c {
      display: grid;
      grid-template-columns:auto ;
      grid-template-rows: 300px ;
    
    }
    div.d{
      grid-column: 2;
      display: flex;
      flex-direction: column;
      flex-direction: column-reverse;
      height: 500px;
    }
    div.d p{
      font-size: 10px;
      line-height: 130%;
    padding: 40px;
    width:auto;

    }

  div.f{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    height: 500px;
  }
  div.f p{
    width: auto;
    padding: 40px;
    font-size: 10px;
    line-height: 130%;

  }
    .imag {
      padding: 0px;
    align-items: center;
      max-width: 40%;
      object-fit: contain;
    } 
     .im{
      align-items: center;
      padding: 0px;
      align-items: center;
      max-width: 40%;
      object-fit: contain;
    } 
  }
   
  @media (max-width:320px) { 

 
    section.cop {
      display: grid;
      grid-template-columns: auto ;
      grid-template-rows: 150px ;
    }
    h1{
      font-size: 18px;
    }
    div.so p {
      margin: auto;
      line-height: 130%;
        font-size:9px; 
      }
    
      section.ca{
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows:  400px;
      }
      
      div.t{
        height: 330px;
      }
      
span.tit  {
  font-weight: bold;
  font-size:10px;
 }
      div.t p{
     font-size: 9px;
      }

      section.a{
        display: grid;
        grid-template-columns: 40px auto 40px;
        grid-template-rows: 200px;
        padding: 20px;
      }

  div.te p{
    grid-column: 2;
    font-size: 9px;
      }
    section.car {
      display: grid;
      grid-template-columns: auto ;
      grid-template-rows: 320px 200px;
    }
    section.c {
      display: grid;
      grid-template-columns:auto ;
      grid-template-rows: 300px ;
    
    }
    div.d{
      grid-column: 2;
      display: flex;
      flex-direction: column;
      flex-direction: column-reverse;
      height: 500px;
    }
    div.d p{
      font-size: 9px;
      line-height: 130%;
    padding: 40px;
    width:auto;

    }

  div.f{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    height: 500px;
  }
  div.f p{
    width: auto;
    padding: 40px;
    font-size:9px;
    line-height: 130%;

  }
    .imag {
      padding: 0px;
    align-items: center;
      max-width: 40%;
      object-fit: contain;
    } 
     .im{
      align-items: center;
      padding: 0px;
      align-items: center;
      max-width: 40%;
      object-fit: contain;
    } 
  }
  @media (max-width:260px) { 
    section.cop {
      display: grid;
      grid-template-columns: auto ;
      grid-template-rows: 150px ;
    }
    h1{
      font-size: 16px;
    }
    div.so p {
      margin: auto;
      line-height: 130%;
        font-size:8px; 
      }
    
      section.ca{
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows:  400px;
      }
      
      div.t{
        height: 330px;
      }
      
span.tit  {
  font-weight: bold;
  font-size:9px;
 }
      div.t p{
     font-size: 8px;
      }

      section.a{
        display: grid;
        grid-template-columns: 40px auto 40px;
        grid-template-rows: 200px;
        padding: 20px;
      }

  div.te p{
    grid-column: 2;
    font-size: 8px;
      }
    section.car {
      display: grid;
      grid-template-columns: auto ;
      grid-template-rows: 320px 200px;
    }
    section.c {
      display: grid;
      grid-template-columns:auto ;
      grid-template-rows: 300px ;
    
    }
    div.d{
      grid-column: 2;
      display: flex;
      flex-direction: column;
      flex-direction: column-reverse;
      height: 500px;
    }
    div.d p{
      font-size: 8px;
      line-height: 130%;
    padding: 40px;
    width:auto;

    }

  div.f{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    height: 500px;
  }
  div.f p{
    width: auto;
    padding: 40px;
    font-size: 8px;
    line-height: 130%;

  }
    .imag {
      padding: 0px;
    align-items: center;
      max-width: 40%;
      object-fit: contain;
    } 
     .im{
      align-items: center;
      padding: 0px;
      align-items: center;
      max-width: 40%;
      object-fit: contain;
    } 
    
  }


  
